<appSettings>
  <add key="FacebookAppId" value="136374433706059"/>
  <add key="FacebookAppSecret" value="8ef9012a6ec2428a1050877706f8999f"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>